body {
    background-color: black;
    background-image: url("image4.png");
    background-size: 100%;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

#gallery {
    max-width: 800px;
    margin: 30px auto 50px auto;
    overflow: hidden;
}

#gallery img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s, bottom 0.5s;
    z-index: 1;
}

#scrollToTopBtn img {
    filter: invert(1);
    width: 70px;
    height: auto;
}

#scrollToTopBtn:hover {
    transform: rotate(90deg);
}

.crop-container {
    display:flex;
    align-items:center;
    justify-content: center;
}
.crop-container img {
    margin-top: 4%;
    width: 800px;
}
